.image {
  object-fit: contain;
}

.w-100 {
  width: 100px;
}

.w-192 {
  width: 192px;
}

.flex {
  display: flex;
}

.button.is-multiline {
  white-space: normal;
  line-height: 1.3;
  text-align: left;
  height: 3em;
}

@media screen and (min-width: 769px) {
  .modal-card,
  .modal-content {
    width: calc(100% - 136px);
  }
}
